#titulo{
    color: rgb(78, 0, 151);
    text-align: left;
    padding-left: 35px;
}

#imagem{
    padding-left: 35px;
    display: flex;
    align-items: left;
    justify-content: left;
}
#img{
    width: 180px;
}
#descricao{
    padding-left: 35px;
}
#especificacoes{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-left: 35px;
}
#especificacoes2{
    margin-right: -10px;
    min-width: 100px;
}
#listagem{
    padding-left: 150px;
}